
@model List<EntityLayer.Entities.Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SirketYoneticiLayout.cshtml";
}

<h6 class="header-title pb-3 mt-0">Kullanıcılar</h6>
<a class="btn btn-primary" href="/SirketYoneticiKullanici/Create">Kullanıcı Ekle</a>
<br />
<br />
<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr class="align-self-center">
                <th>Id</th>
                <th>Kullanıcı İsmi</th>
                <th>Kullanıcı Soyismi</th>
                <th>Kullanıcı Adres</th>
                <th>Kullanıcı Tel</th>
                <th>Kullanıcı Mail</th>
                <th>Kullanıcı Adı</th>
                <th>Şifre</th>
                <th>Sil</th>
                <th>Güncelle</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KullaniciID</td>
                    <td>@item.KullaniciIsmi</td>
                    <td>@item.KullaniciSoyismi</td>
                    <td>@item.KullaniciAdres</td>
                    <td>@item.KullaniciTel</td>
                    <td>@item.KullaniciMail</td>
                    <td>@item.KullaniciAdi</td>
                    <td>@item.Sifre</td>
                    <td>
                        <a class="btn btn-danger" href="/SirketYoneticiKullanici/Delete/@item.KullaniciID">Sil</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/SirketYoneticiKullanici/Update/@item.KullaniciID">Güncelle</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

