@model EntityLayer.Entities.SirketYetkili
@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div id="form">
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })

            <input type="hidden" class="form-control" name="SirketYoneticiID" value="@Model.SirketYoneticiID"/>
            @Html.ValidationMessageFor(x => x.SirketYoneticiID, "", new { @style = "color:red" })
            <div class="form-group">
                <label for="Sirketid">Şirket Adı <span class="gerekliAlan">*</span></label>
                @Html.DropDownListFor(x => x.Sirketid, (List<SelectListItem>)ViewBag.sirket, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="YoneticiAdi">Adı <span class="gerekliAlan">*</span></label>
                <input type="text" class="form-control" name="YoneticiAdi" value="@Model.YoneticiAdi" />
                @Html.ValidationMessageFor(x => x.YoneticiAdi, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="YoneticiSoyadi">Soyadı <span class="gerekliAlan">*</span></label>
                <input type="text" class="form-control" name="YoneticiSoyadi" value="@Model.YoneticiSoyadi" />
                @Html.ValidationMessageFor(x => x.YoneticiSoyadi, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="YoneticiDogumTarihi">Doğum Tarihi <span class="gerekliAlan">*</span></label>
                <input type="date" class="form-control" name="YoneticiDogumTarihi" value="@Model.YoneticiDogumTarihi"/>
                @Html.ValidationMessageFor(x => x.YoneticiDogumTarihi, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="YoneticiTel">Telefon No <span class="gerekliAlan">*</span></label>
                <input type="text" class="form-control" name="YoneticiTel" value="@Model.YoneticiTel" />
                @Html.ValidationMessageFor(x => x.YoneticiTel, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="YoneticiMail">Mail<span class="gerekliAlan">*</span></label>
                <input type="email" class="form-control" name="YoneticiMail" value="@Model.YoneticiMail" />
                @Html.ValidationMessageFor(x => x.YoneticiMail, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="YoneticiKullaniciAdi">Kullanıcı Adı<span class="gerekliAlan">*</span></label>
                <input type="text" class="form-control" name="YoneticiKullaniciAdi" value="@Model.YoneticiKullaniciAdi" />
                @Html.ValidationMessageFor(x => x.YoneticiKullaniciAdi, "", new { @style = "color:red" })
            </div>
            <div class="form-group">
                <label for="Sifre">Şifre<span class="gerekliAlan">*</span></label>
                <p><input type="text" class="form-control" name="Sifre" value="@Model.Sifre"/></p>
                @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:red" })
                <p><h7> Gerekli alanlar <span class="gerekliAlan">*</span> ile belirtilmiştir.</h7></p>

            </div>

            <button class="btn btn-primary" type="submit">Yönetici Güncelle</button> <br />
            <a href="/AdminSirketYonetici/Index" class="btn btn-primary">Yönetici Listesi</a>
        </form>

    </div>

</div>
